* *::after *::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  color: #f6ece3;
  background: #2c2e31;
}

a {
  color: #f6ece3;
}

#site-main::after {
  background: url(./images/noise.jpg);
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0.02;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 201;
}

.noselect {
  -webkit-user-select: none;
  user-select: none;
}
