:host {
  display: block;
}

.clock {
  display: grid;
  place-content: center;
  height: 100px;
}

.time {
  font-size: 4rem;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  /* color: #fff; */
  color: hsl(135, 94%, 65%);
  text-shadow: 0px 0px 10px hsla(135, 94%, 65%, 0.5);
}